body {
  margin: 0;
  background-color: #607d8b;
}

.logo {
  width: 17%;
  float: left;
  margin: auto;
  height: 100%;
}

.btn {
  width: 7rem;
  margin-left: 0.6%;
  margin-top: 2%;
  color: #ffffff;
  font-size: bold;
  overflow: hidden;
}

#sesion{
  margin-right: 2%;
  float: right;
  width: fit-content;
  padding: 0;
  padding-top: 4%;
  margin: auto;
  margin-bottom: 0;
  color: white;
}

#sesion:hover{
  background-color: transparent !important;
}

.btn:hover {
  transition: 0.3s;
}

#logout {
  color: red;
  font-weight: bold;
  float: right;
  padding-top: 0;
  margin-top: 0;  
}

.navbar2 {
  overflow: hidden;
  background-color: rgb(12, 47, 92);
  font-family: century gothic;
  margin-bottom: 10px;
}

.navbar2 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 1px 15px;
  text-decoration: none;
  font-size: 17px;
}

.navbar2 a:hover {
  background-color: #ddd;
  color: black;
  transition: 0.3s;
  border-radius: 10px;
}


.navbar2 .icon {
  display: none;
}

.userid {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: auto;
  padding-bottom: -15%;
}

.out{
  float: right;
  width: 15%;
  padding-right: 2%;
}

@media screen and (max-width: 600px) {
  .navbar2 a:not(:first-child) {
    display: none;
  }
  .navbar2 a.icon {
    float: right;
    display: block;
    margin: auto;
    margin-top: 15px;
    padding: 15px 14px;
  }
  .logo {
    width: 60%;
    margin-right: 25%;
  }
  .navbar2 label:not(:first-child) {
    display: none;
  }
  .navbar2 .userid {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navbar2.responsive {
    position: relative;
  }
  .navbar2.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
    padding: 15px 14px;
  }
  .navbar2.responsive a {
    float: left;
    display: block;
    text-align: center;
  }

  .navbar2.responsive #sesion{
    float: right;
  }

  .navbar2.responsive #logout{
    float: right !important;
  }

  .navbar2.responsive label{
    display: block;
  }
  .navbar2.responsive img{
    display: block;
  }
}